@(technician: Technician)(implicit flash: Flash, messages: Messages, request: models.RequestWithUser[_])
@main("E-Maintenance") {
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Technicians</h1>
        <div id="msg">
            <label class="control-label"></label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a id="updateUser" href="@routes.Technicians.update(technician.id.get)">
                    <button type="button" class="btn btn-primary badge">
                        Update
                    </button>
                </a>
                <a id="deleteUser" href="@routes.Technicians.delete(technician.id.get)">
                    <button type="button" class="btn btn-danger badge" onclick="">
                        Delete
                    </button>
                </a>
                <a id="back" href="@routes.Technicians.list">
                    <button type="button" class="btn btn-primary badge" onclick="">
                        Back
                    </button>
                </a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th style="width:20%">Name</th>
                            <td>@technician.name</td>
                        </tr>
                        <tr>
                            <th>Contact_Number</th>
                            <td>@technician.contact_number</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}