@(form: Form[UserForm], errors: Array[String], formType: String)(implicit flash: Flash, messages: Messages, request: models.RequestWithUser[_])
@main("E-Maintenance") {
<script>
    $(document).ready(function() {
        var message = $('#msg')
        message.hide()
        if("@flash.get("errors")" == "userIsAlreadyExists"){
            message.css('display', 'block').addClass('form-group has-error')
            message.find('.control-label').html('The User is already exists.')
        }
        if("@flash.get("errors")" == "emailIsAlreadyExists"){
            message.css('display', 'block').addClass('form-group has-error')
            message.find('.control-label').html('The Email is already exists. Please use a different Email.')
        }
    });

    $(document).ready(function() {
        var message = $('#email-msg')
        message.hide()
        @if(errors.contains("email")){
            message.css('display', 'block').addClass('form-group has-error')
            message.find('.control-label').html('Please enter a valid email.')
        }
    });

    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            var $canfocus = $(':focusable');
            var index = $canfocus.index(this) + 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
</script>

        <div class="col-lg-12">
            <h1 class="page-header">User - @formType</h1>
        </div>
        <div id="msg">
            <label class="control-label"></label>
        </div>
        <form action="@routes.Users.postUserDb" method="post">
            <input type="hidden" id="id " name="id" value='@form("id").value' class="form-control" placeholder="Required">
            <input type="hidden" id="password" name="password" value='@form("password").value' class="form-control" placeholder="Required">

            <div class='form-group @if(errors.contains("username")){ has-error }'>
                <label>Username</label>
                <input id="username " name="username" value='@form("username").value' class="form-control" placeholder="Required">
            </div>
            
            <div class='form-group @if(errors.contains("name")){ has-error }'>
                <label>Name</label>
                <input id="name" name="name" value='@form("name").value' class="form-control" placeholder="Required">
            </div>

            <div class='form-group @if(errors.contains("ic_number")){ has-error }'>
                <label>IC Number</label>
                <input id="ic_number" name="ic_number" value='@form("ic_number").value' class="form-control" placeholder="Required">
            </div>

            <div class='form-group @if(errors.contains("contact_number")){ has-error }'>
                <label>Contact Number</label>
                <input id="contact_number" name="contact_number" value='@form("contact_number").value' class="form-control" placeholder="Required">
            </div>

            <div class='form-group @if(errors.contains("address")){ has-error }'>
                <label>Address</label>
                <input id="address" name="address" value='@form("address").value' class="form-control" placeholder="Required">
            </div>

            <div class='form-group @if(errors.contains("email")){ has-error }'>
                <label>Email</label>
                <input id="email" name="email" value='@form("email").value' class="form-control" placeholder="Required">
            </div>
            <div id="email-msg">
                <label class="control-label"></label>
            </div>

            <div>
                <label>Role</label>
                <select name="role" class="form-control">
                    <option @if(form("role").value.get == "admin"){ selected } value="admin">Admin</option>
                    <option @if(form("role").value.get == "user"){ selected } value="user">User</option>
                </select>
            </div>
            <br>
                <button type="submit" class="btn btn-primary ">@formType</button>
            </form>

}
