@(maintenanceItem: MaintenanceItem)(implicit flash: Flash, messages: Messages, request: models.RequestWithUser[_])
@main("E-Maintenance") {
<script>
    $(document).ready(function() {

      var message = $('#msg')
          message.hide()
          if("@flash.get("success")" == "successfullyUpdated"){
              message.css('display', 'block').addClass('form-group has-success')
              message.find('.control-label').html('The User has been successfully updated.')
          }
          if("@flash.get("success")" == "successfullyCreated"){
              message.css('display', 'block').addClass('form-group has-success')
              message.find('.control-label').html('The User has been successfully created.')
          }
           if("@flash.get("success")" == "accessmentSuccessfullyUpdated"){
              message.css('display', 'block').addClass('form-group has-success')
              message.find('.control-label').html('User accessment has been updated successfully.')
          }}
    </script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Maintenance Items</h1>
        <div id="msg">
            <label class="control-label"></label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a id="updateUser" href="@routes.MaintenanceItems.update(maintenanceItem.id.get)">
                    <button type="button" class="btn btn-primary badge">
                        Update
                    </button>
                </a>
                <a id="deleteUser" href="@routes.MaintenanceItems.delete(maintenanceItem.id.get)">
                    <button type="button" class="btn btn-danger badge" onclick="">
                        Delete
                    </button>
                </a>
                <a id="back" href="@routes.MaintenanceItems.list">
                    <button type="button" class="btn btn-primary badge" onclick="">
                        Back
                    </button>
                </a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th style="width:20%">Code</th>
                            <td>@maintenanceItem.item_code</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>@maintenanceItem.item_name</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}