@(form: Form[LoginForm], errors: Array[String])(implicit messages: Messages)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Maintenance</title>
    <!-- BOOTSTRAP STYLES-->
    <link href='@routes.Assets.versioned("css/bootstrap.css")' rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href='@routes.Assets.versioned("css/font-awesome.css")' rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href='@routes.Assets.versioned("css/custom.css")' rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <form action="@routes.HomeController.postLoginData" method="post">
                        <fieldset>
                            @if(errors.contains("incorrectPasswordOrUsername")){
                            <div class="form-group has-error">
                                <label class="control-label">Incorrect Password Or Username</label>
                            </div>
                            }
                            @if(errors.contains("userNotFound")){
                            <div class="form-group has-error">
                                <label class="control-label">User Not Found</label>
                            </div>
                            }
                            @if(errors.contains("notAuthorized")){
                            <div class="form-group has-error">
                                <label class="control-label">You are not authorized to access</label>
                            </div>
                            }
                            @if(errors.contains("invalidData")){
                            <div class="form-group has-success">
                                <label class="control-label">Please enter valid data for username and password</label>
                            </div>
                            }
                            <div class="form-group" @if(errors.contains("username")){ has-error }">
                            <input type="text" class="form-control" placeholder="Username" name="username" value="@form("username").value" autofocus>
                </div>
                <div class="form-group" @if(errors.contains("password")){ has-error }">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password" value="@form("password").value" autofocus>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
            </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>

</body>

</html>
