@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit request: models.RequestWithUser[_])

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Maintenance</title>
    <!-- BOOTSTRAP STYLES-->
    <link href='@routes.Assets.versioned("css/bootstrap.css")' rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href='@routes.Assets.versioned("css/font-awesome.css")' rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href='@routes.Assets.versioned("css/custom.css")' rel="stylesheet" />
    <!-- jQuery -->
    <script src='@routes.Assets.versioned("jquery/jquery.min.js")'></script>
    <!-- DataTables JavaScript -->
    <script src='@routes.Assets.versioned("datatables/js/jquery.dataTables.min.js")'></script>
    <script src='@routes.Assets.versioned("datatables-plugins/dataTables.bootstrap.min.js")'></script>
    <script src='@routes.Assets.versioned("datatables-responsive/dataTables.responsive.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/moment.min.js")'></script>
    <!-- DataTables CSS -->
    <link href='@routes.Assets.versioned("vendor/datatables-plugins/dataTables.bootstrap.css")' rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href='@routes.Assets.versioned("vendor/datatables-responsive/dataTables.responsive.css")' rel="stylesheet">
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script>
    </script>
</head>
<body>
<div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src='@routes.Assets.versioned("img/logo2.png")' />
                </a>
            </div>
            <span class="navbar-brand"><h2 style="color: white">E-Maintenance</h2></span>
            <span class="logout-spn" >
                  <a href="@routes.HomeController.logout()" style="color:#fff;">LOGOUT</a>
            </span>
        </div>
    </div>
    <!-- top navigator  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a id="dashboard" href="@routes.Users.dashboard"><i class="fa fa-dashboard"></i>Dashboard</a>
                </li>
                <li>
                    <a id="users" href="@routes.Users.listUser"><i class="fa fa-group"></i>Users</a>
                </li>
                <li>
                    <a id="maintenance" href="@routes.MaintenanceItems.list"><i class="fa fa-wrench"></i>Maintenance Items</a>
                </li>
                <li>
                    <a id="technicians" href="@routes.Technicians.list"><i class="fa fa-user"></i>Technicians</a>
                </li>
                <li>
                    <a id="work_orders" href="@routes.WorkOrders.list"><i class="fa fa-briefcase"></i>Work Orders</a>
                </li>
                <li>
                    <a id="work_order_samples" href="@routes.WorkOrderSamples.list"><i class="fa fa-suitcase"></i>Work Orders Sample</a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- Side Menu  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    @content
                </div>
            </div>
            <!-- row  -->
        </div>
        <!-- PAGE INNER  -->
    </div>
    <!-- PAGE WRAPPER  -->
</div>
<div class="footer">
</div>
<!-- /. WRAPPER  -->
</body>
</html>
